/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #222;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header styles */
header {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.logo img {
  max-width: 200px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  margin-right: 20px;
}

/* Hero section styles */
.hero {
  background-color: #333;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #f2f2f2;
}

/* About section styles */
.about {
  background-color: #111;
  padding: 60px 0;
}

.about h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about p {
  font-size: 16px;
  margin-bottom: 40px;
}

/* Services section styles */
.services {
  background-color: #333333;
  padding: 40px 0;
  /* Adjust the padding to control the height */
  text-align: center;
}

.services h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.services ul {
  list-style-type: none;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services li {
  font-size: 16px;
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
  background-color: #111111;
  border-radius: 4px;
  margin: 10px;
  border: 1px solid #ccc;
  /* Add border */
}


/* Header styles */
/* Header styles */
header {
  background-color: #111111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation-name: fadeHeader;
  animation-duration: 1s;
}

@keyframes fadeHeader {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.logo {
  margin-right: auto;
}

.logo img {
  max-width: 200px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation li {
  margin-right: 20px;
}

/* Hover effect */
.navigation li a {
  position: relative;
  transition: color 0.3s;
}

.navigation li a:hover {
  color: #b0304a;
  /* Change to the desired hover color */
}

.navigation li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9f1d44;
  /* Change to the desired hover color */
  transform: scaleX(0);
  transition: transform 0.3s;
}

.navigation li a:hover::after {
  transform: scaleX(1);
}

html {
  scroll-behavior: smooth;
}